Hello,
Good Morning!!!
Welcome from {{ansible_all_ipv4_addresses}}
OS: {{ansible_distribution}}
<br>
Current time is: {{ansible_date_time.date}} {{ansible_date_time.time}}
<html>
<head>
<title> Rajat's Ansible Training hands-On task </title>
</head>
<body>

<h1> Welcome to Ansible Training </h1>
<br>
<br>
<h3>
<br>########## Deployed with Ansible on {{ansible_hostname}}....>##########
</h3>
<br>
<h3> Author: Rajat Prajapati </h3>
<br>

</body>

</html>